body {
  --orange-color: rgb(208, 165, 37);
  --body-color: rgb(54, 54, 54);
  min-height: 100%;
  padding: 0px;
  background-color: var(--body-color);
  color: rgb(182, 182, 182);
}

html {
  min-height: 100%;
}

h1 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 3vmax;
  font-family: serif;
  z-index: -1;
}
h2 {
  font-size: 1.8vmax;
}

p {
  text-align: justify;
  font-size: 1.2vw;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}

footer {
  font-size: 2vh;
  z-index: 2;
  margin-left: calc( (100vw - 90vw) / 2 );
  margin-top: 5vh;
  margin-bottom: 10vh;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  margin-left: 5vw;
}

#form-container {
  z-index: 2;
  color: inherit;
  min-width: 20%;
}

#reaction-form {
  position: relative;
  z-index: 2;
  color: inherit;
}

#form-title {
  position: relative;
  height: 10%;
  font-size: 1.8vmax;
  margin-left: 30%;
}

#select-list {
  font-size: 1.8vmax;
  text-align-last: center;
  color: var(--orange-color);
  background-color: var(--body-color);
  max-width: 100%;
}

select option {
  background-color: var(--body-color);
  font-size: 1.2vmax;
}

#plot-container {
  min-width: 60%;
  margin-right: 0%;
  margin-bottom: 0;
  z-index: 1;
}

#plot-title {
  position: relative;
  /* width: 100%; */
  height: 10%;
  font-size: 1.8vmax;
  margin-left: 35%;
  /* text-align: center; */
}

#plot-wrapper {
  position: relative;
  top: 0%;
  width: 100%;
  height: auto;
}

#about-container {
  width: 85vw;
  margin-left: calc( (100vw - 85vw) / 2 );
  margin-top: 10vh;
  margin-bottom: 5vh;
  background-color: var(--body-color);
  z-index: 3;
}

.graph {
  width: 90vw;
  height: 75vh;
  margin-left: calc( (100vw - 90vw) / 2 );
  padding: 0%;
  margin-bottom: 5vh;
  margin-top: -25vh;
  z-index: 4;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--orange-color);
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orange-color);
}

@media only screen and (max-width: 768px) {
  #flex-container {
    flex-direction: column-reverse;
    margin-bottom: 10vh;
  }
  #plot-container {
    width: 90%;
    margin-top: 5vh;
  }
  #form-container {
    margin-left: 5vw;
  }
  #form-reaction {
    margin-left: 40%;
  }
  #plot-title {
    margin-left: 45%;
  }
  footer {
    margin-top: -10vh;
  }

}
