body {
  --orange-color: rgb(208, 165, 37);
  --body-color: rgb(54, 54, 54);
  min-height: 100%;
  padding: 0px;
  background-color: var(--body-color);
  color: rgb(182, 182, 182);
}

html {
  min-height: 100%;
}

h1 {
  font-size: 2.4vmax;
  z-index: -1;
}

p {
  text-align: justify;
  font-size: 1.2vw;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}

footer {
  position: absolute;
  top: 89vh;
  left: 3%;
  font-size: 2vh;
  z-index: 2;
}

form {
  position: absolute;
  top: 7.5vh;
  left: 52vw;
  z-index: 2;
  color: inherit;
}

#form-reaction {
  font-size: 1.8vw;
  text-align: center;
}

#select-list {
  font-size: 1.8vw;
  text-align-last: center;
  color: var(--orange-color);
  background-color: var(--body-color);
  max-width: 44vw;
  height: 7vh;
}

select option {
  background-color: var(--body-color);
  font-size: 1.2vw;
}

.about-container {
  position: absolute;
  top: 12.1vh;
  right: 1vw;
  width: 48vw;
  height: auto;
  font-size: 1.6vw;
  background-color: var(--body-color);
  border-radius: 5%;
  border-radius: 25px;
  border: 2px solid var(--orange-color);
  padding: 20px;
  z-index: 3;
  opacity: 0;
  transition: opacity 1.5s;
  display: none;
}

.button {
  position: absolute;
  top: -1vh;
  left: 3.5vw;
  padding: 1vmax;
  font-size: 2.3vmax;
  width: 10vmax;
  background-color: var(--orange-color);
  border: none;
  color: var(--body-color);
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 1vmax;
  user-select: none;
  outline: none;
  box-shadow: 0 0.5vmax rgb(221, 221, 221);
  z-index: 2;
}
.button:active {
  box-shadow: 0 0.3vmax rgb(102, 102, 102);
  transform: translateY(4px);
}

.graph {
  width: 95vw;
  height: 80vh;
  position: absolute;
  left: calc( (100vw - 95vw) / 2 );
  padding: 0%;
  top: 20vh;
  z-index: 0;
}

#plotContainer {
  position: absolute;
  top: 7vh;
  left: 4vw;
  height: 35vh;
  width: 50vw;
  z-index: 1;
}

#plot-title {
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  font-size: 1.8vw;
  text-align: center;
}

#plot-wrapper {
  position: relative;
  top: 0%;
  width: 100%;
  height: auto;
  /* max-height: 100%; */
}


@media only screen and (max-width: 768px) {

  .about-container {
    top: 9vh;
    width: 80vw;
    display: inline-block;
    opacity: 1;
    position: static;
    margin-left: 5vw;
    margin-top: 5vmax;
    margin-bottom: 5vmax;
  }

  form {
    position: static;
    margin-left: 25vw;
  }

  #form-reaction {
    font-size: 3vw;
    position: relative;
    left: -18%;
  }

  .graph {
    position: static;
    margin: 0;
  }

  #plotContainer {
    width: 80vw;
    height: 20vh;
    margin: auto;
    position: static;
    margin-top: 10vmin;
  }

  #plot-title {
    font-size: 3vw;
    margin-bottom: 5%;
  }

  .button {
    display: none;
  }

  footer {
    position: static;
    margin-top: 30vmin;
  }

  h1 {
    margin-top: 2vh;
  }

  p {
    font-size: 1.5vw;
  }
